* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  background-color: #333;
  height: 70px;
  padding: 0 20px;
  color: #fff;
  display: flex;
  align-items: center;
}

#add-image-input {
  display: none;
}

#add-image-btn {
  padding: 10px 30px;
  border-radius: 5px;
}

#canvas {
  display: block;
  border: 2px solid black;
}

.selectedCanvas {
  border: 5px solid red;
}

.canvas-block {
  display: block;
}

.container {
  background-color: #2e2e2e27;
  width: 100vw;
  height: calc(100vh - 70px);
  overflow: scroll;
  scrollbar-width: 0;
}

.content-container {
  min-width: 100%;
  min-height: 100%;
  background-color: gray;
}

.container::-webkit-scrollbar {
  display: none;
}
