#canvas {
  display: block;
  border: 2px solid black;
}

.vas {
  display: block;
  border: 2px solid black;
}

.container {
  background-color: #2e2e2e58;
  min-height: 100vh;
  min-width: 100vw;
}
