* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  display: block;
  border: 2px solid black;
}

.vas {
  display: block;
  border: 2px solid black;
}

.container {
  background-color: #2e2e2e58;
  height: 90vh;
  width: 90vw;
  overflow: scroll;
}
